## Built-in Functions

In [2]:
skill_list = ['Python','SQL','Excel']

In [3]:
len(skill_list)

3

In [4]:
data_salaries = [100000, 95000, 85000, 97000, 140000]
min(data_salaries)

85000

In [5]:
sum(data_salaries)

517000

In [6]:
sorted(data_salaries)

[85000, 95000, 97000, 100000, 140000]

## User Defined Functions

In [7]:
base_sal = 100000
bonus_rate = 0.1

In [8]:
def calculate_sal(sal, br = 0.1):
    total_sal = sal * (1 + br)
    return total_sal

In [9]:
calculate_sal(20000)

22000.0